<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class="body">
    <h1>Books</h1>
    <div th:replace="~{fragments :: books_table}"></div>
    <a th:href="@{/addBook}">Add Book</a>
    <a th:href="@{/deleteBook}">Delete Book</a>
    <a th:href="@{/updateBook}">Update Book</a>
</div>

<div th:replace="~{fragments :: footer}"></div>
</body>
</html>