<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: head}"></head>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class="body">
    <h1>Delete User</h1>

    <form th:action="@{/deleteUser}" method="post" class="px-4">
        <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Select User:</label>
            <div class="col-sm-6">
                <select id="username" name="username" class="form-select">
                    <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-danger">Delete Selected User</button>
    </form>

</div>

</body>
</html>